.contacts {
    margin: auto;
    position: relative;
}
.contacts-img {
    height: 100vh;
    margin-bottom: 150px;
    background-image: url(../resources/contacts.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
}
.contacts-title {
    margin-bottom: 28px;
    font-size: 35px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
.contacts-container {
    position: absolute;
    display: inline;
    left: 125px;
    top: 320px;
}
.contacts-container a {
    display: block;
    margin-bottom: 20px;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    text-decoration: none;
}
.contacts-container a:hover {
    color: #51f551;
}