@import url(./header.css);
@import url(./portfolio.css);
@import url(./competencies.css);
@import url(./contacts.css);
@import url(./services.css);
@import url(./footer.css);
@import url(./burger.css);

html {
    background-image: url(../resources/back-img.jpeg);
    background-attachment: fixed;
    background-size: cover;
    scroll-behavior: smooth;
}
body {
    margin: 0 auto;
    width: 100%;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    box-sizing: border-box;
}
.body_fixed {
    overflow: hidden;
}
.container {
    max-width: 1155px;
    margin: 0 auto;
}

@media(max-width:1199px) {
    .container {
        padding: 0 15px 0 15px;
    }
}